.st0 {
  fill: #ffffff;
}
.st1 {
  fill: #020202;
}

.circle,
.plane,
.building,
.target,
.kanji,
.face {
  opacity: 0;
}

.circle {
  animation: appear 0.3s ease-in-out forwards;
}

.plane {
  animation: appear 0.3s 0.3s ease-in-out forwards;
}

.building {
  animation: appear 0.3s 0.6s ease-in-out forwards;
}

.target {
  animation: appear 0.3s 0.9s ease-in-out forwards;
}

.kanji {
  animation: appear 0.3s 1.2s ease-in-out forwards;
}

.face {
  animation: appear 0.3s 1.5s ease-in-out forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
