.st0 {
  fill: #010202;
}
.st1 {
  fill: #f0f0e0;
}
.st2 {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}
.st4 {
  fill: #ffffff;
}
.st5 {
  fill: #87c6c6;
}
.st6 {
  fill: #5a8384;
}
.st7 {
  fill: #fefefe;
}
