.bottomCircle,
.topCircle,
.upeoText,
.dove {
  fill: transparent;
}

.bottomCircle {
  animation: appear 0.3s ease-in forwards;
}

.topCircle {
  animation: appear 0.3s 0.3s ease-in forwards;
}

.dove {
  animation: appear 0.3s 0.6s ease-in forwards;
}

.upeoText {
  animation: appear 0.3s 0.9s ease-in forwards;
}

@keyframes appear {
  to {
    fill: white;
  }
}
